.verse-container {
  display: flex;
  position: relative;
}

.line-numbers {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 150px;
  font-size: medium;
  line-height: 1.5;
  white-space: pre-wrap;
  font-family: serif;
}

.verse-input {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 150px;
  font-size: medium;
  line-height: 1.5;
  white-space: pre-wrap;
  font-family: serif;
  position: relative;
}

.vowel-counts {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: medium;
  line-height: 1.5;
  white-space: pre-wrap;
  font-family: serif;
}

.selected-line::before,
.selected-line::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #0000ff;
}

.selected-line::before {
  left: -5px;
}

.selected-line::after {
  right: -5px;
}