/* Select.css */

.style-buttons {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line */
    justify-content: flex-end;
    margin-top: 10px;
    gap: 10px;
    margin-right: 2%;
    margin-bottom: 3%;
  }
  #style-chooser{
  margin-left: 1rem;}
  .style-buttons button {
    color: #323232;
    margin-right: 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .style-buttons button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .style-buttons button.selected {
    border: 2px solid #323232; /* Indicate selected button */
  }
  
  @media (max-width: 600px) {
    .style-buttons {
      justify-content: center; /* Center buttons on small screens */
      margin-right: 0;
    }
  
    .style-buttons button {
      margin-right: 0;
    }
  }
  
  .selected-style {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
  }
  .selected-style-info {
    border: 1px solid #ccc;
    padding: 15px;
    padding-top: 0px;
    margin-bottom: 20px;
  }
  
  .style-name {
    color: #333;
    margin-bottom: 5px;
  }
  
  .style-description {
    margin-bottom: 10px;
  }
  
  .style-details li {
    margin-bottom: 5px;
  }
  